.container-style {
    border: 5px black solid;
    padding: 10px 0 10px 0;
}

.no-right-gutter {
    padding: 0 !important;
}

.output-title {
    padding: 20px 0 10px 0;
}

.output-row {
    font-size: 1.4em;
    padding: 5px 0 5px 0;
}

.table-row {
    padding: 20px 0 5px 0;
}

.table {
    width: 100%;
    font-size: 1.2em;
}

.table-caption {
    text-align: center;
}

.matched-activity-table-cell {
    font-weight: bold;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}